.recommendationCard {
  width: 25rem;
  height: 16rem;
  border-radius: 12px;
  margin: 10%;
  background-image: -moz-radial-gradient(50% 50%, circle, #fff 0%, rgba(255, 255, 255, 0.00) 100%);
  border-color: #fff;
  border-width: 10px;
  box-shadow: 10px 0 10px rgba(012, 234,30, 0.2);
}